<h2 class='User_Header'>User Profile <h2>
</h6>

<p>User ID: <%=@current_user.id%> </p>
<p>User Name: <%=@current_user.username%> </p>
<p>User Name: <%=@current_user.name%> </p>
<p>User Type: <%=@current_user.usertype%> </p>
